<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>Class Project</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Our Web App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login">Login</a>
        </li>
      </ul>
    </div>
  </nav>
    <header class="masthead" style="background-image: url('https://hbr.org/resources/images/article_assets/2016/06/jun16-03-79396945-2.jpg')" id="main-header">
   <div class="overlay"></div>
   <div class="container">
     <div class="row">
       <div class="col-lg-8 col-md-10 mx-auto">
         <div class="site-heading" id="header-text">
           <h1 class="bg-light">Mapping Web App</h1>
           <span class="subheading">Welcome to Our Web App</span>
         </div>
       </div>
     </div>
   </div><!-- NOTE: end of contatainer -->
 </header>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">This is the content we have to offer</h1>
      <p class="text-center text-primary">Our mapping web application has many features to offer. Check out all we have to offer blah bllah blah, register for a new account of login to an existing account blah blah Our mapping web application has many features to offer. Check out all we have to offer blah bllah blah, register for a new account of login to an existing account</p>
    </div><!-- NOTE: end of col-sm-12 -->
  </div><!-- NOTE: end of row -->
  <div class="row my-5">
  <div class="col-sm-4 bg-primary">
    <br>
    <h2 class="card1 my-2">Sign Up</h2>
    <p>Sign up and login with our services to do some cool shit </p>
    <br>
  </div><!-- NOTE: end of col-sm-4 -->
  <div class="col-sm-4 bg-dark">
  <br>
  <h2 class="card1">Log In</h2>
  <p>If you already have an existing account click here to log in</p>
  </div><!-- NOTE: end of col-sm-4 -->
  <div class="col-sm-4 bg-warning">
  <h2 class="text-primary my-3">Travel Dashboard</h2>
  <p>Track Busses in realtime in albuquerque, never mis a buss again</p>
  </div>
    </div><!-- NOTE: end of row -->
</div><!-- NOTE:end of container-fluid -->
 <style media="screen">
   body{
     color: white;
   }
.card1{
  color:white;
}
#card3{

}

#header-text{
  color:white;
  margin-top:200px;
  margin-left: 200px;
}
   #main-header{
     height: 300px;
   }
  header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}
header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.4;
}
 </style>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
